Source: python3-monero
Section: python
Priority: optional
Maintainer: everoddandeven <everoddandeven@protonmail.com>
Build-Depends: debhelper (>= 11), cmake, python3-all, pybind11-dev
Depends: libunbound8, libprotobuf32t64, libboost-chrono1.74.0, libboost-filesystem1.74.0, libboost-program-options1.74.0, libboost-regex1.74.0, libboost-serialization1.74.0, libboost-thread1.74.0, libhidapi-libusb0
Standards-Version: 4.5.0
Homepage: https://github.com/everoddandeven/monero-python
Rules-Requires-Root: no
Package: python3-monero
Architecture: amd64
Description: Python bindings for monero-cpp
 This package provides Python 3 bindings for the monero-cpp library using pybind11.
Version: 1.0.0
