name: Codacy Coverage Reporter

on:
  workflow_run:
    workflows:
      - Tests
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: read

jobs:
  report-coverage:
    if: github.repository == 'everoddandeven/monero-python'
    runs-on: ubuntu-latest
    steps:
      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage-reports
          github-token: ${{ secrets.API_GITHUB }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.info,coverage.xml
